html,
body {
    height: 100%;
    font-family: 'Tahoma','Helvetica ',sans-serif;
    font-size: 14px;
}

h1,h2,h3,h4,h5{
  font-size: 30px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding:0 20px 0 20px;
}

.has-success .form-control {
    border-color: #0665B1;
}

.form-control {
    border: 1px solid #0665B1;
}

.footer {
    height: 60px;
    background-color: #3F4855  ;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.footer > .container{
  color:white;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

.glyphicon{
  font-size: 20px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
    text-overflow:ellipsis;
    text-align: center;
}

.grid-view th {
  color: #337ab7;
  text-align: center;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.detail-view th {
  width: 20%;
}

.detail-view td {
  white-space: nowrap;
  text-overflow:ellipsis;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.input-group .form-control {
    position: static;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.pagination > li > a {
  position: static;
}

/*NAVBAR STYLE-----------------------------------------------*/

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(min-width:768px){
  .navbar-brand img {
    max-width: 35%;
    align : center;
  }
}

@media(min-width:768px) {
  .navbar-inverse {
    background-color: #3F4855;
    border-radius: 0px;
    border :none;
    height: 110px;
  }
}

.navbar-inverse .navbar-right a {
  color:white;
  font-size: 14px;
  background-color: #3F4855;
}

@media(max-width:768px) {
  .navbar-inverse .navbar-right  {
        text-align: right;
  }

}

@media(min-width:768px) {
  .navbar-inverse .navbar-right  {
        position: absolute;
        bottom: 0px;
        right:  40px;
  }
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background:none;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-right li button {
  font-size: 14px;
  color: white;
}

.navbar-inverse .navbar-right li {
  color: #18bc9c;
  margin: 0px;
}

@media(min-width:768px) {
  .navbar-inverse .navbar-right li.active {
    background-color:#18bc9c;
    border-radius: 5px 5px 0px 0px;
    color: #fff;
  }
}

@media(min-width:768){
  .navbar-inverse .navbar-right li a:hover {
    color:#18bc9c;
    background: none;
  }
}

@media(min-width:768){
  .navbar-inverse .navbar-right li.active a:hover {
    color:white;
  }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color:#18bc9c;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/*========================Reponsive=============================================*/

@media (max-width: 767px) {
  .wrap > .container {
      padding:0 5% 0 5%;
  }
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: right;
        width: 100%;
        padding: 10px 15px;
    }
}

@media(max-width:767px) {
  .navbar-brand img {
    position: absolute;
    width: 30%;
    top: 10px;
  }
}

@media(max-width:767px) {
  .navbar-inverse {
    background-color: #3F4855;
    border: none;
    /* height: 50px; */
  }
}

@media(max-width:767px) {
  .navbar-inverse .navbar-right li.active {
    background-color:#18bc9c;
    /* border-radius: 5px 5px 0px 0px; */
    color: #fff;
  }
}

@media screen and (max-width: 767px){
  .table-responsive {
    border: 0px;
    padding :16px;
  }
}
/*========================button=============================================*/
.site-login button {
  border-radius: 0px;
  background: #275CF1;
}

.btn.btn-primary {
    color: #fff;
    background-color: #275CF1;
    border-color: none;
    border-radius: 0px;
}

.btn.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.btn.btn-success {
    color: #fff;
    background-color: #00C714;
    border-color: none;
    border-radius: 0px;
}

.btn.btn-success:hover {
    color: #fff;
    background-color: #029c11;
    border-color: none;
    border-radius: 0px;
}

.btn-primary,.btn-success{
  font-size: 16px;
}

.form-control {
    border-radius: 0;
}

/* Style the Image Used to Trigger the Modal */
.myImg_index{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    object-fit: cover;
    width: 80px;
    height: 95px;
}

.myImg_index:hover {opacity: 0.7;}

.myImg{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    object-fit: cover;
    width: 160px;
    height: 190px;
}

.myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 300px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    opacity: 1;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
